<!DOCTYPE html>
  <html>
  <head>
    <% include partials/header %>
  </head>

  <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <% include partials/dialog %>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include partials/navbar %>
    
      <main class="mdl-layout__content">
        <section class="mdl-grid">

          <h4 class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone"><%- sketch.name %></h4>
          <div class="">
            <form action="<%- `${BASE_URL}/sketches/${sketch.slug}/update` %>" id="js-settings-form" class="settings-form mdl-cell--4-col mdl-cell" method="post">
             <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              
              <input type="text" class="mdl-textfield__input" id="details_description" name="details_description" value="<%- sketch.description %>" />
              
            </div>


            <div class="mdl-selectfield mdl-js-selectfield">
            
  <select id="details_status" name="details_status" class="mdl-selectfield__select">
    
    <option value="1" <% if (sketch.status == 1){ %>selected <% }%>>Active</option>
    <option value="0" <% if (sketch.status == 0){ %>selected <% }%>>Archived</option>
  </select>
  <label class="mdl-selectfield__label" for="details_status">Status</label>
</div>
              
              
            </form>

          </div>
          <div class="mdl-cell mdl-cell--6-col">To get this sketch run the following in your console: <br/>
            <i>git clone <%- cloneURL %></i></p>
          </div>          
          <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--hide-phone">
            <h5><a target="_blank" href="<%- `${BASE_URL}/view/${sketch.slug}/${sketch.references[0].ref.split('/').slice(-1)[0]}/latest/` %>"><i class="material-icons">launch</i></a>&nbsp;Preview – <span class="active-prototype">Latest <%- sketch.references[0].ref.split('/').slice(-1)[0]%></span></p></h5>

            <iframe class="preview-frame mdl-shadow--3dp" width="100%" height="767" border="noborder" src="<%- `${BASE_URL}/view/${sketch.slug}/${sketch.references[0].ref.split('/').slice(-1)[0]}/latest/` %>" id="preview-frame"></iframe>          
          </div>
          
          
          <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="branches">
              <h5>Prototypes</h5>
              <dl class="item-list">
                <% sketch.references.forEach(function(reference, i){ %>
                <dd class="<% if(i === 0){ %>active<% } %>" data-name="<%- reference.ref.split('/').slice(-1)[0] %>">
                  <a href="<%-`${BASE_URL}/view/${sketch.slug}/${reference.ref.split('/').slice(-1)[0]}/latest/` %>">
                    <img class="thumbnail" src="/screenshots/<%- `${sketch.slug}/${reference.commit}-thumb.jpg` %>" />
                    <%- reference.ref.split('/').slice(-1)[0] %>
                  </a>
                </dd>
                <% })%>                          
              </dl>
            </div>
            <div class="commits">
              <h5>Commit History</h5>
              <dl class="item-list">
              <% sketch.commits.forEach(function(commit){ %>
              <dd data-name="<%- commit.sha() %>">
                <i><%- commitFormatter(commit.date()) %> by <%- commit.committer() %></i>
                <%- link_to(commit.message(), `/view/${sketch.slug}/${commit.sha()}/`) %></dd>
              </li>
              <% })%>            
              </dl>
            </div>
          </div>
        </section>          
      </main>
    </div>  
    <% include partials/footer %>
    <% if (md.mobile() === null){ %>
      <script type="text/javascript">
        // editing logic
        var fields = document.querySelectorAll('.settings-form input, .settings-form select');
        var form = document.getElementById('js-settings-form');
        fields.forEach(function(field){
          field.addEventListener('change', function(e){
            var formdata = `status=${document.getElementById('details_status').value}&description=${document.getElementById('details_description').value}`;
            
            fetch(form.action, {
              method: 'post',
              headers: {  "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"  
              }, 
              body: formdata
            });
          });
        });
        form.addEventListener('submit', function(e){
          e.preventDefault();
        })

        // all the magic for previewing in the iframe
        var links = document.querySelectorAll('.item-list a');
        links.forEach(function(link){

          link.addEventListener('click', function(e){
            e.preventDefault();

            document.getElementById('preview-frame').src = e.currentTarget.href;
            activeLink = document.querySelector('.item-list dd.active');
            // debugger
            activeLink.classList.remove('active');
            var dd = e.currentTarget.parentNode;
            dd.classList.add('active');
            

            document.querySelector('.active-prototype').innerText = dd.dataset.name;
            
            return false;
          });
        })
      </script>
    <% } %>
  </body>
</html>
